# Arquivos de compilação e binários
bin/
obj/

# Arquivos de usuário e configurações do Visual Studio
.vs/
*.suo
*.user

# Arquivos de credenciais e configuração local
.env
appsettings.Development.json
appsettings.json

# Arquivos temporários e de log
*.log
*.tmp

# Arquivos de publicação
publish/
